*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'EB Garamond', serif;
}

/* Estilos index*/
.navbar-brand img{
width: auto;
height: 10rem;
margin-left: 3rem;
}

.navbar{
background-color: #c2dfe3;
height: 10rem; 
}

.nav-item{
padding-left: 2rem;
}


/* mobile version */

/* .nav-item:hover{
background-color:#bee3db;
}
.nav-item {
transition: all 0.3s ease-out; idea de jonmircha aplicando estilos a los enlaces en menu mobile
}
*/


/* GALERIA DE IMAGENES INDEX */
#galeria .col-lg-4{
padding:25px;
}

#galeria img{
width:100%;
height:400px;
}

#galeria img:hover{
border:3px solid #f7f7f7;
}

#galeria h2{
text-decoration: none;
color:black;
}


.maincontainer .titulo1{
height:100%;
color: #5c6b73;
padding-top: 25px;
text-align: center;
}


.maincontainer .textoprincipal{
font-size: 20px;
}

.maincontainer button {
text-decoration: none;
color: #264653;
}

/* footer definitivo */
#footer{
text-align: center;
padding: 40px 0;
background-color:#c2dfe3;
}

#footer .social{
text-align: center;
padding-bottom: 25px;
color: black;
}
    
#footer .social a{
font-size: 20px;
color: #264653;
border: 1px solid #264653;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin:0 8px;
opacity: 0.75;
}

#footer .social a:hover{
opacity: 0.9;
}

#footer ul li{
margin-top: 0;
padding: 0;
list-style: none;
font-size: 15px;
line-height: 1.6;
margin: auto;
margin-bottom: 0;
}

#footer ul li a{
color:inherit;
text-decoration: none;
opacity: 0.8;
}

#footer ul li {
display: inline-block;
padding: 0 15px;
}

#footer ul li a:hover{
opacity: 1;
}

#footer .Copyright{
margin-top: 15px;
text-align: center;
font-size: 13px;
font-family: 'EB Garamond' serif;
color: #264653;
opacity: 0.8;
}


/* Estilos page Nosotros */
.mainnosotros{
margin-top: 90px;
}


.titulo2{
font-size: 1.5rem;
color: #89b0ae;
margin-top: 4rem;
margin-left: 0.5rem;
}

.textonosotros{
margin-left: 0.5rem;
color: gray;
}

.titulo2B{
font-size: 1.5rem;
color: #89b0ae;
margin-top: 5rem;
margin-right: 0.5rem;
align-items: end;
}

.textonosotrosB{
color:gray;
margin-right: 0.5rem;
}


/* estilos de las imagenes page nosotros */
#galerianosotros img{
width:100%;
height: 300px;
margin-bottom: 4rem;
margin-top: 4rem;
}
#galerianosotros img:hover{
border: 2px solid #c2dfe3;
}

#imgnosotros img:hover{
border: 2px solid #c2dfe3;
}

/* Estilos page Servicios */
/* .container .titulo1{
height:100%;
color: #5c6b73;
padding: 40px;
text-align: center;
font-weight: 400;
font-size: 2em;
} */

.titulo2Coloracion{
font-size: 1.5rem;
color: #89b0ae;
font-style: bold;
margin-top: 4rem;
margin-left: 18rem;
}

.textocoloracion{
color:gray;
margin-left: 10rem;
}

.textocoloracion ul{
list-style: none;
}

.titulo2Belleza{
font-size: 1.5rem;
color: #89b0ae;
font-style: bold;
margin-top: 4rem;
margin-right: 15rem;
}

.textobellezacapilar{
color:gray;
text-align: center;
margin-right: 5rem;
}

.textobellezacapilar ul{
list-style: none;
}

.titulo2Peinados{
font-size: 1.5rem;
color: #89b0ae;
font-style: bold;
margin-top:5rem;
margin-left: 20rem;
}

.textopeinados{
color:gray;
margin-left: 12rem;
}

.textopeinados ul{
list-style: none;
}

/* Estilos imagenes page servicios */
#imgservicios1{
padding-top: 7.5rem;
padding-right: 2rem;
}

#imgservicios2{
padding-top: 2rem;
padding-left: 8.5rem;
}

#imgservicios3{
padding-top: 2rem;
padding-right: 8.5rem;
margin-bottom: 3rem; 
}


/* EStilos Productos */
.tituloproductos{
    margin-top: 4rem;
    margin-left: 12rem;
font-size:1.5rem;
color:#89b0ae
}

.textoproductos{
    margin-top: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 2rem;
    color: #5c6b73;
}

.card-title{
font-size: 1rem;
color: #89b0ae;
text-align: center;
}

.card-text{
color: #5c6b73;
font-size: 0.9em;
}

.card{
width: 18rem;
border:1px solid #89b0ae;
/* margin-top: 2rem;
padding-bottom: 0px; */
}

.cardtext{
    font-size: 7px;
}

/* Estilos page Contacto */

.contactUs{
position: relative;
width: 100%;
padding: 40px 100px;
}

.contactUs .title{
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
}

.contactUs .title h2{
color: #5c6b73;
font-weight: 400;
}

.form{
grid-area: form;
}

.info{
grid-area: info;
}

.map{
grid-area: map;
}

.contact{
padding: 40px;
background-color: #c2dfe3;
}

.box{
position: relative;
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 5fr 4fr;
grid-template-areas: 
"form info"
"form map";
grid-gap: 20px;
margin-top: 20px;
}

/* Form */
.formBox{
position: relative;
width: 100%;
}

.formBox .row50{
display: flex;
gap: 20px;
}

.inputBox{
display: flex;
flex-direction: column;
margin-bottom: 10px;
width: 50%;
}

.formBox .row100 .inputBox{
width: 100%;
}

.inputBox span{
color: #264653;
margin-top: 10px;
margin-bottom: 5px;
font-weight: 500;
}

.inputBox input{
padding: 10px;
font-size: 1.1em;
outline: none;
border: 1px solid #555b6e;
}

.inputBox textarea{
padding: 10px;
font-size: 1.1em;
outline: none;
border: 1px solid #555b6e;
resize: none;
min-height: 220px;
margin-bottom: 10px;
}

.inputBox input[type="submit"]{
background: #9db4c0;
color: #faf9f9;
border: none;
font-size: 1.1em;
max-width: 120px;
font-weight: 500;
cursor: pointer;
padding: 14px 15px;
}

.inputBox ::placeholder{
color:#9db4c0;
}

/* info */
.info{
background:#9db4c0;
}

.info h3{
color: #264653;
font-size: 20PX;

margin: 20px;
}

.info .infoBox div{
display: flex;
align-items: center;
margin-bottom: 10px;
}

.info .infoBox div span{
min-width:40px;
height: 40px;
color: gray;
background: #faf9f9;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5em;
border-radius: 50%;
margin-right: 15px;
}

.info .infoBox div p {
color: #fff;
font-size: 1em;
}

.info .infoBox div a {
color: #fff;
text-decoration: none;
font-size: 1em;
}

.sci{
margin-top: 40px;
display: flex;
justify-content: center;
}

.sci li{
list-style: none;
margin-right: 15px;
}

.sci li a {
color: #fff;
font-size: 2em;
}

.sci li a:hover{
color: #ccc;
}

.map {
padding: 0;
}

.map iframe{
width: 100%;
height: 100%;
}

/* Responsive Design */
@media (max-width:991px){


.contactUs{
padding: 20px;
}

.box{
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas: 
"form"
"info"
"map";
}

.map{
min-height: 300px;
}

.formBox .row50{
display: flex;
gap:0;
flex-direction: column;
}

.inputBox{
display: flex;
flex-direction: column;
margin-bottom: 10px;
}

.inputBox{
width: 100%;
}

.contact{
padding: 30px;
}

.map{
min-height: 300px;
padding: 0;
}
}



/* servicios ver responsive */
/* .containerservicios {
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
} */




