* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

header nav {
  background-color: #c2dfe3;
}
header nav div a img {
  width: auto;
  height: 10rem;
  margin-left: 3rem;
}
header nav div ul li {
  padding-left: 2rem;
}
header nav div ul li:hover {
  font-size: 1.1rem;
  font-style: bold;
}

main div h1 {
  height: 100%;
  color: #89b0ae;
  padding-top: 25px;
  text-align: center;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
main div h2 {
  font-size: 20px;
  color: gray;
}
main div p button {
  text-decoration: none;
  color: #264653;
  animation: blink-1 1s both;
}
@keyframes blink-1 {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

section div {
  margin-bottom: 1.5rem;
}
section div div {
  padding: 1rem;
}
section div div img {
  width: 100%;
  height: 400px;
}
section div div img:hover {
  border: 3px solid #f7f7f7;
}

#footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: black;
}

#footer .social a {
  font-size: 20px;
  color: #264653;
  border: 1px solid #264653;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
  transition: 0.5s;
}

#footer .social a:hover {
  opacity: 0.9;
  transform: translateY(-10px);
}

footer div ul li {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 1.6;
  margin: auto;
  margin-bottom: 0;
  display: inline-block;
  padding: 0 15px;
}
footer div ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
footer div ul li a:hover {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 40px 0;
  background-color: #c2dfe3;
}
footer p {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  font-family: "EB Garamond" serif;
  color: #264653;
  opacity: 0.8;
}

.mainnosotros {
  margin-top: 90px;
}

main div section article h2 {
  font-size: 1.5rem;
  color: #89b0ae;
  margin-top: 4rem;
  margin-left: 0.5rem;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
main div section article p {
  margin-left: 0.5rem;
  color: gray;
}

.titulo2B {
  font-size: 1.5rem;
  color: #89b0ae;
  margin-top: 7rem;
  margin-right: 0.5rem;
  align-items: end;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.textonosotrosB {
  color: gray;
  margin-right: 0.5rem;
}

div section article img {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#galerianosotros img {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

#galerianosotros img:hover {
  border: 3px solid #f7f7f7;
}

@media screen and (max-width: 991px) {
  .titulo2 {
    margin-top: 0.1rem;
  }
  .textonosotros {
    margin-bottom: 3rem;
  }
  .titulo2B {
    margin-top: 3rem;
  }
  .textonosotrosB {
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .titulo2 {
    margin-top: 0rem;
  }
  .titulo2B {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .titulo2 {
    margin-top: 1rem;
  }
  .titulo2B {
    margin-top: 3rem;
  }
}
.cardServicios {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 30rem;
}

.card-titleServicios {
  color: #89b0ae;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
.list-group-item {
  color: gray;
}

.cardServicios img {
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.tituloproductos {
  margin-top: 4rem;
  margin-left: 12rem;
  font-size: 1.5rem;
  color: #89b0ae;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.textoproductos {
  margin-top: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
  color: #5c6b73;
}

.card-title {
  font-size: 1rem;
  color: #89b0ae;
  text-align: center;
}

.card-text {
  color: #5c6b73;
  font-size: 0.9em;
}

.card {
  width: 18rem;
  height: auto;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #264653;
}

@media screen and (max-width: 768px) {
  .tituloproductos {
    margin-left: 6rem;
  }
  .card {
    margin: 2rem auto 2rem auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .card {
    margin-left: 5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
