header{
    nav{
        background-color: #c2dfe3;
        
        div{
            a{
                img{
                    width: auto;
                    height: 10rem;
                    margin-left: 3rem;
                }
            }
        }

        div{
            ul{
                li{
                    padding-left: 2rem;
                    
                    &:hover{
                        font-size: 1.1rem;
                        font-style: bold;
                        }
                    }
                }
            }
        }
        
    }